* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #E6E6FA;
}
/*
 * Formatting the header area
 */

.topnav {
  overflow: hidden;
  background-color: #333;
  min-height:50px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  height: auto;
  /* note, min height of parent is 50, font size is 18, (50 - 18) / 2 for padding */
  padding: 16px 16px;
  text-decoration: none;
  font-size: 18px;
}

.logo {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10.5px 16px;
  text-decoration: none;
  font-size: 28px;
  margin: 0px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/*
 * Centering the body content
 */
.container {
  width: 100%;
  margin: 0 auto;
}

/*Margin for all content div*/
div.content > {
  padding: 10px;
}

div.content {
  background-clip: padding-box; 
  background-color: #E6E6FA;
}

div.content h1 {
  font-size: 2em;
  text-align: center;
  letter-spacing: -2px;

}

div.left {
  border: 1px solid red;
  width: 50%;
  float:left;
  padding: 10px;
  
}

textArea {
  width: 100%;
  height: 300px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  resize: none;
  
}

#number {
  width: 30px;
}

div.right {
  border: 1px solid red;
  float:right;
  width: 50%;
  padding: 10px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}