.outer-div {
  position: absolute;
  background: black;
  width: 800px;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  padding: 10px;
}

.area {
  overflow: auto;
  display: flex;
  border: 5px solid red;
  background: white;
  margin: 10px 40px 10px 10px;
}

.column {
  background: green;
  border: 5px solid blue;
}

.wrapper {
  display: flex;
  border: 5px solid yellow;
  justify-content: center;
  align-items: center;
}

.table {
  white-space: nowrap;
}

.violet {
  background: violet;
  width: 120%;
  height: 80px;
}

.red {
  background: red;
  width: 150%;
  height: 80px;
  margin-bottom: 20px;
}

.icons {
  Background: yellow;
  float: right;
  height: auto;
  width: auto;
}