<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="topnav">
          <a class="active" href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('about') }}">About</a>
          <p>Lost In Translation</p>
        </div>
        

<!---
        <h1 class="logo">Lost in Translation</h1>
        <div class="topnav">
          <a class="active" href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('about') }}">About</a>
        </div>
--->
      </div>
    </header>
    <!-- Note the below div class is replaced by other HTML-->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>